// @use "./functions";

:root {
  --ff-alt: "Poppins", sans-serif;
  --ff-mono: "Space Mono", monospace;
  --c-surface-default: #ffffff;
  --c-surface-accent: #f5f3ed;
  --c-stroke: #c9c7bb;
  --c-text: #1b4031;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  display: grid;
  place-items: center;
  height: 100vh;
  box-sizing: border-box;
  color: var(--c-text);

  @media (min-width: 1000px) {
    padding: 20px;
  }
}
